@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 12px; 
}
  
  ::-webkit-scrollbar-thumb {
  background-color:rgb(177, 92, 179); 
  border-radius: 2px; 
}
  
  ::-webkit-scrollbar-thumb:hover {
  background-color:rgb(149, 48, 151);
}
  

::-webkit-scrollbar-track {
  background-color: rgb(3, 7, 18); 
}